{% extends "base_form.html" %}
{% load static %}
{% block page_content %}
<title>Kevin's Blog | Login</title>

<div class="container" id="login-container">
    <div id="login-form">
        <a href="{% url 'blog_index' %}"><i class="fas fa-arrow-left"></i></a>
        <h4 id="login-form-title">Blog Login</h4>
        <form action="{% url 'account_login' %}?next={{ next_url|urlencode }}" method="post">
            {% csrf_token %}
            <div class="col-sm-8 offset-sm-2" id="login-form-box">
                <div class="form-group">
                    <label>Username:</label>
                    {{ form.username }}
                </div>
                <div class="form-group">
                    <label>Password:</label>
                    {{ form.password }}
                </div>
            </div>
            {% if error is not None %}
            <p class="form-error col-sm-8 offset-sm-2">{{ error }}</p>
            {% endif %}
            <div id="login-form-btn-container">
                <button type="submit" class="btn btn-primary" id="login-form-btn">Login</button>
            </div>
        </form> 
        <ul class="col-sm-8 offset-sm-2" id="login-form-options">
            <li>
                <a href="{% url 'account_register' %}">Don't have an account? Click here to register.</a>
            </li>
        </ul>
    </div>
</div>
{% endblock %}