html{
    scroll-behavior: smooth;
}

body {
    background: #e4e7ee;   
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 300;
    position: relative;
}

.navbar{
    background: #ffffff !important;
    overflow: hidden;
    position: fixed; /* Set the navbar to fixed position */
    top: 0; /* Position the navbar at the top of the page */
    width: 100%; /* Full width */
    z-index: 2;
    padding: .3rem 1rem;
}

a.navbar-brand{
    font-size: 1.5em;
    font-weight: bold;
    letter-spacing: 1px;
}

a.nav-link{
    font-size: 15px;
    font-weight: 500;
    text-transform: uppercase;
}

li.nav-item a.nav-link span{
    -webkit-transition: .5s all ease-out;
    -moz-transition: .5s all ease-out;
    transition: .5s all ease-out;
    border-bottom: 3px solid #ffffff;
    padding-bottom: 5px;
}

li.nav-item.active a.nav-link span{
    border-bottom: 3px solid #000000;
    color: #000000;
}

#main-body{
    padding-top: 20px;
}

#home-alert-container{
    padding-top: 80px;
}

#about{
    padding-left: 100px;
    padding-right: 100px;
}

#personal-summary{
    padding-left: 60px;
    padding-right: 60px;
}

.card{
    border-radius: 5px;
    padding: 110px 10px 30px 10px;
}

.card.div{
    display: inline-block;
}

.card-title{
    font-size: 2em !important;
    font-weight: 600;
    text-align: center;
}

.card-text{
    color: #707070;
    font-size: 20px;
    text-align: justify;
}

.profile-container{
    display: block;
    margin: 0 auto;
}

#profile_picture{
    display: block;
    margin: auto;
    max-width: 200px;
    position: relative;
    bottom: -100px;
    z-index: 1;
}

.image-circle{
    border-radius: 50%;
}

/* Skills Section */
.skills-container{
    margin: auto;
    padding-top: 30px;
}

#skills-header{
    text-align: center !important;
    text-transform: uppercase !important;
    font-size: 1.5em !important;
    font-weight: 600 !important;
}

.bar{
    width: 45vw;
    max-width: 700px;
    background: #E4E7EE;
    align-items: flex-end;
    position: relative;
    margin-bottom: 10px;
}

.fill{
    top: 0;
    left: 0;
    background: #00A1A7;
    position: absolute;
    animation: fill-bar 2s ease-in-out;
    -webkit-animation: fill-bar 2s ease-in-out;
    -moz-animation: fill-bar 2s ease-in-out;
}

.flex{
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
}

.tag{
    background: #04C2C9;
    width: 120px;
    text-align: center;
}

div.tag{
    font-weight: bold;
    color: #ffffff;
}

div.bar.flex span{
    padding-right: 15px;
}

/* Second Group */

div#second-group{
    padding-top: 100px;
}

div#white-area{
    background: #ffffff;

}

/* Education Section */

#education-header{
    font-size: 2em;
    font-weight: 600;
    text-align: center;
    padding-top: 20px;
}

#education-content{
    padding-top: 20px;
}

.edu-institution, .education-item{
    padding-bottom: 20px;
}

.edu-institution-name{
    font-weight: 600;
    font-size: 1.8em;
}

.edu-year-attended, .edu-role-cca{
    font-weight: 500;
    font-size: 1.4em;
}

.edu-qualification{
    font-size: 1.6em;
}

.edu-cgpa{
    font-size: 1.2em;
}

/* Work Section */

#work-section{
    padding-top: 20px;
}

#work-header{
    font-size: 2em;
    font-weight: 600;
    text-align: center;
    padding-top: 20px;
}

#work-content{
    padding-top: 20px;
}

.work-item{
    padding-bottom: 20px;
}

.work-title{
    text-transform: uppercase;
    font-weight: 600;
    font-size: 1.8em;
    color: #086164;
}

.work-date{
    font-size: 1.5em;
    font-weight: 500;
}

.work-description{
    font-size: 1em;
    text-align: justify;
}

/* Projects Section */

#projects-showcase{
    padding-top: 10px;
    padding-bottom: 50px;
}

#projects-header{
    font-size: 2em;
    font-weight: 600;
    color: #000000;
    text-align: center;
    padding-top: 70px;
}

#projects-sub-text{
    color: #333333;
    font-size: 20px;
    padding-top: 10px;
    text-align: center;
}

.project-item{
    background: #ffffff;
    border-radius: 5px;
    min-height: 410px;
    margin: 32px 0px;
    padding-top: 10px;
}

.project-item:hover{
    background: #979696;
}

.btn-container{
    padding: 15px 100px;
}

.rm-btn{
    display: block;
    margin: 0 auto;
}

.owl-stage-outer{
    padding-bottom: 40px;
}

div.project-item{
    margin-left: 15px;
    margin-right: 15px;
}

.project-logo-holder{
    display: block;
    margin: 0 auto;
    padding: 10px;
}

.project-logo-holder img{
    background: #ffffff;
    max-width: 200px;
    max-height: 200px;
    margin: auto;
}

.project-name{
    font-size: 20px;
    font-weight: 600;
    letter-spacing: 1px;
    padding-top: 10px;
    text-align: center;
    text-transform: uppercase;
}

.project-name a{
    color: #000000;
    text-decoration: none !important;
}

.project-description{
    font-size: 18px;
    margin: auto;
    text-align: center;
    width: 80%;
}

#contact{
    padding-top: 50px;
}

#contact-top{
    background: #133334;
}

#contact-header{
    font-size: 2em;
    font-weight: 600;
    color: #ffffff;
    text-align: center;
    padding-top: 20px;
}

#contact-sub-text{
    font-size: 20px;
    color: #ffffff;
    padding-top: 10px;
    text-align: center;
}

#contact-footer{
    font-size: 1em;
    font-weight: 400;
    color: #ffffff;
    text-align: center;
    padding-bottom: 20px;
}

#form-sender-row{
    padding-top: 30px;
}

#contact-form .form-control{
    background: transparent;
    font-size: 18px;
    color: #ffffff;
}

#contact-form #name.form-control, #contact-form #email.form-control{
    padding: 25px 12px;
}

#form-message-textarea{
    padding-top: 20px;
}

#form-submit-btn{
    display: block;
    font-size: 1em !important;
    margin: auto;
}

.btn-primary{
    background: #0DBCFC;
    border: #0DBCFC;
    padding: 12px 28px;
}

#form-submit{
    padding-top: 20px;
}

#social-media-container{
    text-align: center;
    padding-top: 60px;
}

.social-media-icons{
    padding: 0;
    margin: 0;
}

.social-media-icons li{
    list-style: none;
    display: inline-block;
}

.fab{
    border: 1px solid #ffffff;
    border-radius: 5px;
    color: #ffffff;
    font-size: 30px;
    width: 60px;
    height: 60px;
    padding: 15px;
    margin: 15px 20px 40px 15px;
}

.fab:hover{
    background: #ffffff;
    color: #0DBCFC;
    text-decoration: none;
}

/* Project Details*/
#project-detail-container{
    padding-top: 100px;
}

.project-detail-image{
    background: #ffffff;
}

/* Blog */
#blog-index-container, #blog-category-container, #blog-detail-container{
    padding-top: 100px;
}

/* Login Form */
div.container#login-container, div.container#register-container{
    padding-top: 50px;
}

div#login-form, div#register-form{
    display: block;
    margin: auto;
    background: #ffffff;
    border-radius: 5px;
    width: 75%;
}

h4#login-form-title, h4#register-form-title{
    font-weight: 600;
    text-align: center;
    padding-top: 20px;
}

div#login-form-box div.form-group, div#register-form-box div.form-group{
    padding-top: 20px;
}

div#login-form-box div.form-group label, div#register-form-box div.form-group label{
    font-weight: 600;
}

ul#login-form-options{
    list-style: none;
    padding-bottom: 20px;
}

.form-error{
    color: #ff0000;
}

#login-form-btn-container, #register-form-btn-container{
    padding-top: 30px;
}

#register-form-btn-container{
    padding-bottom: 30px;
}

#login-form-btn, #register-form-btn{
    display: block;
    font-size: 1em !important;
    margin: auto;
}

a i.fa-arrow-left{
    color: #000000;
    padding-top: 20px;
    padding-left: 30px;
    font-size: 1.5em;
}

span.blog-user-name{
    font-weight: bold;
}

@media only screen and (max-width: 991.9px){
    .bar{
        width: 60vw;
        max-width: 360px;
    }
}

@media only screen and (min-width: 768px)  {
    li.nav-item{
        padding-left: 30px;
    }
}

@media only screen and (max-width: 768px)  {
    li.nav-item a.nav-link span{
        border-bottom: none;
    }

    li.nav-item.active a.nav-link span{
        border-bottom: none;
    }

    #main-body{
        padding-top: 70px;
    }

    #about{
        padding-left: 20px;
        padding-right: 20px;
        padding-top: 40px;
    }

    #personal-summary{
        padding-left: 0px;
        padding-right: 0px;
    }

    .card{
        padding: 30px;
        padding-top: 80px;
    }

    .card-text, #projects-sub-text, #contact-sub-text, #contact-form .form-control{
        font-size: 18px;
    }
    
    #profile_picture{
        width: 140px;
        bottom: -70px
    }

    .skills-container{
        font-size: 14px;
    }

    
    .tag{
        width: 100px;
    }

    .bar{
        width: 70vw;
        max-width: 400px;
    }

    #email{
        margin-top: 10px;
    }

    #form-message-textarea{
        padding-top: 10px;
    }

    .fab{
        font-size: 25px;
        width: 50px;
        height: 50px;
        padding: 12.5px;
        margin: 10px 10px 30px 10px;
    }

    #social-media-container{
        padding-top: 40px;
    }

    .btn-container{
        padding: 15px 80px;
    }

    div#login-form{
        width: 90%;
    }
}

@media only screen and (max-width: 352px){

    .card-title{
        font-size: 1.5em !important;
    }

    .card-text, #projects-sub-text, #contact-sub-text, #contact-form .form-control{
        font-size: 14px;
    }

    #projects-header, #contact-header{
        font-size: 1.5em;
    }

    .fab{
        font-size: 20px;
        width: 40px;
        height: 40px;
        padding: 10px;
        margin: 10px 10px 20px 10px;
    }

    #contact-footer{
        font-size: 14px;
    }
}

@keyframes fill-bar{
    from {width: 0%}
    to {width: attr(width)}
}