{% extends "base.html" %}
{% load static %}
{% block page_content %}
<title>Kevin's Projects</title>
<h1>Projects</h1>
<div class="container">
    <header id="projects-header" class="wow fadeInUp">Projects</header>
    <p id="projects-sub-text" class="wow fadeInUp">Some of the projects that I have done.</p>
    <div class="row">
        <div id="projects-showcase" class="owl-carousel owl-theme">
            {% for project in projects %}
            <div class="item project-item wow fadeInUp">
                <div class="project-logo-holder" data-wow-delay="0.2s">
                    <img src="{% static project.image %}" class="image-responsive image-circle">
                </div>
                <h4 class="project-name">{{ project.title }}</h4>
                <p class="project-description">{{ project.description }}</p>
                <div class="btn-container">
                    <a href="{% url 'project_detail' project.pk %}" class="btn btn-primary rm-btn">Read More</a>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</div>
{% endblock %}